@model CadastroDeClientes.Models.Cliente

@{ ViewData["Title"] = "PerfilAdmin";
    Layout = "_LayoutAdmin";

        }
<div class="container">
    <div id="perfil" class="perfil">
        <div class="perfil-content">
            <div class="perfil-box">
                <div class="form-group title">
                    <h1 class="text-center">Admin logado</h1>
                    <h5 class="text-center">Bem vindo @Model.Nome_Fantasia</h5>
                </div>
                <div class="form-group divSpaceMargin">
                    <label class="control-label"><b>NOME: </b>@Model.Nome_Fantasia</label>
                </div>
                <div class="form-group divSpaceMargin">
                    <label class="control-label"><b>TELEFONE: </b>@Model.Telefone</label>
                </div>
                <div class="form-group divSpaceMargin">
                    <label class="control-label"><b>CNPJ: </b>@Model.CNPJ</label>
                </div>
                <div class="form-group divSpaceMargin">
                    <label class="control-label"><b>EMAIL: </b>@Model.Email</label>
                </div>
                <div class="form-group divSpaceMargin">
                    <label class="control-label"><b>Nivel de Acesso: </b>Admin</label>
                </div>
                <div class="form-group divSpaceMargin text-center">
                    <a asp-action="Edit" asp-controller="Clientes" asp-route-id="@Model.Id_Cliente" type="button" class="btn btn-info editar-perfil">Editar Perfil</a>
                    <a class="btn btn-danger" asp-action="Logout">Deslogar</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}